<div id="container">
  <div id="header">
    <div class="wrapper">
      <div>
        <img
          src="https://scontent.fhan14-1.fna.fbcdn.net/v/t31.18172-8/21586551_1913427842313418_958088518216723642_o.png?_nc_cat=105&ccb=1-5&_nc_sid=730e14&_nc_ohc=22QXQk3EFYoAX9BkJLK&_nc_ht=scontent.fhan14-1.fna&oh=8e9eae242485bb613191642f77606d68&oe=61628E6C"
          alt=""
          height="300px"
          width="100%"
        />
      </div>
    </div>
  </div>

  <div>
    <form>
      <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-2">
          <input
            type="search"
            style="width: 220px"
            placeholder="Search"
            class="form-control"
          />
        </div>
        <div class="col-sm-2">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>
  <div id="wrap-content" class="clearfix">
    <div class="wrapper">
      <div id="sidebar">
        <div class="border-end bg-white" id="sidebar-wrapper">
          <div class="sidebar-heading border-bottom bg-light">
            <a  [routerLink]="['/']" >Home</a>
          </div>
          <div class="list-group list-group-flush">
            <a
              class="
                list-group-item list-group-item-action list-group-item-light
                p-3
              "
              href="#!"
              [routerLink]="['/create-employee']"
              >Create Employee</a
            >
            <a
              class="
                list-group-item list-group-item-action list-group-item-light
                p-3
              "
              href="#!"
              >Shortcuts</a
            >
            <a
              class="
                list-group-item list-group-item-action list-group-item-light
                p-3
              "
              href="#!"
              >Overview</a
            >
            <a
              class="
                list-group-item list-group-item-action list-group-item-light
                p-3
              "
              href="#!"
              >Events</a
            >
            <a
              class="
                list-group-item list-group-item-action list-group-item-light
                p-3
              "
              href="#!"
              >Profile</a
            >
            <a
              class="
                list-group-item list-group-item-action list-group-item-light
                p-3
              "
              href="#!"
              >Status</a
            >
          </div>
        </div>
      </div>
      <div id="content">
        <div style="text-align: center; margin-top: 30px">
          <h4>Danh Sách Nhân Viên</h4>
        </div>

        <div style="margin: 30px 30px 40px 30px">
          <table style="text-align: center" class="table table-bordered">
            <thead>
              <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Age</th>
                <th colspan="2">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of employees; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.age }}</td>
                <td>edit</td>
                <td>delete</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="wrapper">footer</div>
  </div>
</div>
